# python_version recommanded: 3_11
Flask==3.1.2
flask-cors==6.0.1
# werkzeug==2.3.7
Flask-APScheduler==1.13.1
python-dotenv==1.2.1
pandas==2.3.3
pymongo==4.15.4
requests==2.32.5
scipy==1.16.3
openpyxl==3.1.5
boto3==1.40.72
selenium==4.38.0